/* ================= BANNER ================= */

.banner {
    height: 100%;
    min-height: 95dvh;
    display: flex;
    align-items: center;
    padding: 0 8%;
    flex: 1;
}

.banner-content {
    max-width: 600px;
    animation: fadeUp 1.2s ease;
}

.banner-content h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff;
}

.banner-content p {
    color: #b0b0b0;
    margin-bottom: 30px;
    line-height: 1.6;
    font-size: 20px;
}

.banner-content button {
    padding: 12px 26px;
    border: 1px solid #8b0000;
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
}

.banner-content button:hover {
    background: #8b0000;
}

/* MOBILE */
@media (max-width: 768px) {
    .banner {
        justify-content: center;
        text-align: center;
        padding: 80px 20px 0;
        min-height: 100dvh;
        margin-top: 0;
    }

    .banner-content h2 {
        font-size: 2rem;
    }
}