/* ================= BANNER ================= */

.banner2 {
  display: flex;
  align-items: center;

  /* 🔥 adiciona espaço no topo */
  padding: 150px 8% 20px;

  min-height: auto;
}

/* CONTEÚDO */
.banner-content2 {
  max-width: 90%;
  margin: 0 auto;
  animation: fadeUp 1.2s ease;
  text-align: left;
}

/* TÍTULO */
.banner-content2 h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #fff;
}

/* TEXTO */
.banner-content2 p {
  color: #b0b0b0;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 0;
}


.back-to-top  {
    padding: 12px 26px;
    border: 1px solid #8b0000;
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
    display: flex ;
    background: #0b0b0c;
    margin: 20px auto;
    border-radius: 4px;
}

.back-to-top:hover {
    background: #8b0000;
}

.character-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 0px auto;  
  max-width: 1500px;
}

.character-filters button {
  padding: 8px 14px;
  background: #0b0b0c;
  color: #fff;
  border: 1px solid #333;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.character-filters button:hover {
  background: #1a1a1d;
  transform: translateY(-2px);
}

.character-filters .active {
  background: #8b0000;
  border-color: #8b0000;
}


/* ================= MOBILE ================= */

@media (max-width: 768px) {
  .banner2 {
    justify-content: center;
    text-align: center;

    /* Ajuste de espaçamento no mobile */
    padding: 80px 20px 0px;

    /* Remove altura gigante */
    min-height: auto;
  }

  .banner-content2 {
    max-width: 100%;
  }

  .banner-content2 h2 {
    font-size: 2rem;
  }

  .banner-content2 p {
    font-size: 16px;
  }
}