/* ================= TABELA CODES ================= */

.table-container {
    padding: 20px 8%;
    animation: fadeUp 1s ease;
    font-family: 'Segoe UI', sans-serif;
}

.table-container p {
    font-size: 16px;
    margin-left: 20px;
    color: #ffffff;
}
.codes-table {
    width: 100%;
    border-collapse: collapse;
    background: #0f0f10;
    border: 1px solid #1a1a1a;
}

/* CABEÇALHO */
.codes-table thead {
    background: #0b0b0c;
}

.codes-table th {
    text-align: left;
    padding: 10px;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #aaa;
    border-bottom: 1px solid #1a1a1a;
    
}

/* LINHAS */
.codes-table td {
    padding: 10px;
    border: 5px solid #151515;
    color: #ddd;
    font-size: 0.9rem;
    line-height: 1.6;
}

/* HOVER (igual vibe menu) */
.codes-table tbody tr {
    transition: 0.25s;
    cursor: default;
}

.codes-table tbody tr:hover {
    background: rgba(139, 0, 0, 0.15);
}

/* COLUNA CÓDIGO DESTACADA */
.codes-table td:first-child {
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}

/* RESPONSIVO */
@media (max-width: 768px) {

    .codes-table th,
    .codes-table td {
        padding: 10px;
        font-size: 0.75rem;
    }

    .table-container {
        padding: 30px 20px;
    }
}