.costumes-container {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(320px, 700px));

  gap: 30px;
  justify-content: center;

  padding: 40px 20px;
}

.costume-card {
  display: flex;
  width: 100%;
  max-width: 700px;
  background: #0b0b0c;
  border-radius: 16px;
  overflow: hidden;
  color: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

/* LEFT */
.costume-card__image-container {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #000000, #0b0b0c);
}

.costume-card__image {
  max-height: 260px;
  object-fit: contain;
}

/* RIGHT */
.costume-card__content {
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.costume-card__title {
  font-size: 18px;
  font-weight: bold;
}

.costume-card__subtitle {
  font-size: 14px;
  color: #9ca3af;
  margin-bottom: 10px;
}

/* LEVEL BUTTONS */
.costume-card__levels {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.costume-card__button {
  background: #3d3d3d;
  border: none;
  color: #ccc;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s, transform 0.1s ease;
}

.costume-card__button:hover {
  background: #8f3636;
  transform: translateY(-1px);
}

.costume-card__button:active {
  transform: scale(0.95);
}

.costume-card__button--active {
  background: #8b0000;
  color: #ffffff;
  box-shadow: 0 0 10px #8b0000;
}

/* DESCRIPTION */
.costume-card__description {
  font-family: 'Segoe UI', sans-serif;
  background: rgb(25, 29, 37);
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.4;
  color: #ffffff;

  /* 🔥 animação suave */
  transition: box-shadow 0.2s ease, background 0.2s ease;
}

/* 🔥 highlight estilo UI de jogo */
.highlight {
  box-shadow: 0 0 12px #8b0000;
  background: rgb(30, 35, 45);
}

.status{
    color: rgb(85, 168, 115);
    font-weight: bold;
}

.statusHab{
    color: rgb(65, 150, 220);
    font-weight: bold;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .costume-card {
    flex-direction: column;
  }

  .costume-card__image-container {
    width: 100%;
  }

  .costume-card__content {
    width: 100%;
  }

  .costume-card__image {
    height: 200px;
  }
}