.footer{
  margin-top: auto;
  width:100%; 
  text-align:center;
  padding:5px; 
  background:#000000;
  border-top:1px 
  solid #8b0000; 
  color:#777;
  position:relative; 
  z-index:2; 
  font-size:.85rem;
  bottom: 0;
}